{% block boutonReservation %}
    <div class="buttonPreresev-form d-flex justify-content-center align-items-center flex-column">
        {{ 'reservation.title' | trans }}
        <a href="{{ path('app_reservation') }}">
        <button type="button" class="btn-form">
            <b>{{ 'button.prereserv' | trans }} </b>
        </button>
        </a>
    </div>
{% endblock %}
