{% block boutonReservation %}
    <div class="buttonPreresev-form d-flex justify-content-center align-items-center flex-column">
        Pré-Réservez votre sejour
        <a href="{{ path('app_reservation') }}">
        <button type="button" class="btn-form">
            <b> PRÉ-RÉSERVATION</b>
        </button>
        </a>
    </div>
{% endblock %}
