{% extends 'base.html.twig' %}

{% block title %}Tourisme et activités dans le gard, l'herault et les cevennes.
{% endblock %}

{% block body %}
	<main>
		<div class="backgroundImageContainer">
			<img src="{{ asset('img/tourismePage/tourisme.png') }}" alt="tourisme" class="backgroundImage" title="Photo pont du gard, tourisme" loading="eager"/>

			<div class="buttonContainer">
				{{ include('reservation/boutonReservation.twig') }}
			</div>
		</div>

		<h2 class="mt-2">Tourisme</h2>
		<div class="d-flex justify-content-center">
			<hr class="separator"/>
		</div>

		{#        {/*------------------Presentation----------------*/}#}
		<div class="container-fluid">
			<div
				class="row justify-content-around mx-1">
				{#                {/*---------------Tarif---------------*/}#}
				<div class=".col-6 col-md-6 pt-2">
					<div
						class="justify-content-center">
						{#                        {/*---------------Nature préservée et Paysages Envoûtants---------------*/}#}
						<div class="cadre p-2 mb-2">
							<h3>Nature préservée et Paysages Envoûtants</h3>
							<article class="m-2">
								<p>
									Immergez-vous dans la beauté sauvage de la nature en explorant
									                                        les environs de Crespian. À moins de 50 km, vous trouverez des
									                                        sites naturels d'une beauté à couper le souffle, tels que les
									                                        majestueuses Gorges du Gardon et les paisibles étendues des
									                                        Cévennes. Parcourez des sentiers de randonnée pittoresques,
									                                        découvrez des panoramas à couper le souffle et laissez-vous
									                                        envoûter par la tranquillité de la campagne environnante.
								</p>
							</article>

							<section class="cadre p-2 my-3">
								<a href="https://ot-sommieres.com/annuaire/rando-le-bois-des-lens">balade dans le bois des Lens</a>
								5 min à pied
								<br/>
								<a href="https://www.gorgesdugardon.fr/">Gorges du Gardon</a>- 45 min en voiture / 40 km
								<br/>
								<a href="https://www.cevennes-tourisme.fr/">Reserve naturelle du Scamandre</a>- 45 min en voiture /46 km
								<br/>
								<a href="https://www.herault-tourisme.com/fr/decouvrir/nos-incontournables/cirque-de-navacelles/">Cirque de Navacelles</a>- 1h15 en voiture / 73 km
								<br/>
								<a href="https://www.demoiselles.com/fr">Grotte Cévenole</a>- 45 min en voiture/ 40 km (grotte de Trabuc, grotte des demoiselles, etc.)
								<br/>
								<a href="https://www.cevennes-tourisme.fr/">Offfice de tourisme des Cevennes</a>
								<br/>
							</section>
						</div>

						{#                        {/*---------------Patrimoine Culturel et Historique Richissime---------------*/}#}
						<div class="cadre p-2 mb-2">
							<h3>Patrimoine Culturel et Historique Richissime</h3>
							<article class="m-2">
								<p>
									Plongez dans l'histoire fascinante de la région en explorant
									                                        ses nombreux sites historiques et culturels. À proximité de
									                                        Crespian, vous pourrez visiter des joyaux architecturaux tels
									                                        que le Pont du Gard, un chef-d'œuvre de l'ingénierie romaine
									                                        classé au patrimoine mondial de l'UNESCO, ou encore le
									                                        magnifique Château de Portes, témoin de l'époque médiévale.
									                                        Imprégnez-vous de l'atmosphère chargée d'histoire des villages
									                                        pittoresques de la région et découvrez les traditions
									                                        séculaires qui perdurent encore aujourd'hui.
								</p>
							</article>

							<section class="cadre p-2 my-3">
								<a href="https://pontdugard.fr/fr">pont du gard</a>- 45 min en voiture / 48 km
								<br/>
								<a href="https://bambouseraie.fr/">Bambouseraie d'Anduze</a>- 30 min en voiture / 29 km
								<br/>
								<a href="https://www.nimes-tourisme.com/experience/">Coeur historique de Nîmes</a>- 25 min en voiture / 26 km
								<br/>
								<a href="https://www.ambrussum.fr/">Oppidum d'Ambrusum</a>- 25 min en voiture / 26 km
								<br/>
								<a href="https://www.uzes.fr/">Uzes</a>- 40 min en voiture / 38 km
								<br/>
								<a href="https://ot-aiguesmortes.com/les-incontournables-a-aigues-mortes">Aigues-Mortes</a>- 45 min en voiture / 42 km
								<br/>
								<a href="https://www.museedudesert.com/index.php">musée du désert et de l'histoire des Camisards
								</a>- 40 min en voiture / 36 km
								<br/>
							</section>
						</div>

						{#                        {/*---------------Activités et Loisirs pour Tous---------------*/}#}
						<div class="cadre p-2 mb-2">
							<h3>Activités et Loisirs pour Tous</h3>
							<article class="m-2">
								<p>
									Que vous soyez amateur de plein air, passionné d'histoire ou
									                                        simplement en quête de détente, la région autour de Crespian
									                                        offre une multitude d'activités et de loisirs pour tous les
									                                        goûts. Partez en excursion en kayak sur le Gardon, explorez
									                                        des grottes préhistoriques fascinantes, flânez dans les
									                                        marchés animés ou détendez-vous simplement au bord de l'eau
									                                        sous le doux soleil du sud de la France. ot la grande motte
								</p>
							</article>

							<section class="cadre p-2 my-3">
								<a href="https://www.montpellier-tourisme.fr/">Office de Tourisme de Montpellier</a>- 55 min en voiture / 43 km
								<br/>
								<a href="https://sommieres.fr/">Office de Tourisme de Sommières</a>- 15 min en voiture / 14 km
								<br/>
								<a href="https://www.canoe-france.com/gardon-parcours-tarifs/">Kayak Gardon</a>- 40 min en voiture / 39 km
								<br/>
								<a href="https://www.lagrandemotte.com/">Office de tourisme de la grande motte</a>- 45 min en voiture / 43 km
								<br/>
								<a href="https://rocdemassereau.com/">Accrobranche Roc de Massereau</a>- 15 min en voiture / 14 km
								<br/>
								<a href="https://www.cevennes-vacances.com/decouvertes/rivieres-et-baignade-en-cevennes/">Rivière cévenole</a>- 45 min en voiture / 45 km (pont des abarines, St Laurent le Minier, etc.)
								<br/>
								<a href="https://www.trainavapeur.com/">Train à vapeur des cevennes</a>- 45 min en voiture / 45 km (pont des abarines, St Laurent le Minier, etc.)
								<br/>
							</section>
						</div>

						{#                        {/*---------------Gastronomie et Art de Vivre---------------*/}#}
						<div class="cadre p-2 mb-2">
							<h3>Gastronomie et Art de Vivre</h3>
							<article class="m-2">
								<p>
									Laissez-vous séduire par les délices culinaires de la région
									                                        et savourez une cuisine authentique et raffinée. Explorez les
									                                        marchés locaux où vous pourrez déguster des produits du
									                                        terroir frais et savoureux, tels que les vins renommés de la
									                                        région, les fromages artisanaux et les spécialités
									                                        gastronomiques régionales. Vivez l'art de vivre à la française
									                                        en vous attablant à de charmants bistrots ou en dégustant un
									                                        pique-nique dans un cadre enchanteur.
								</p>
							</article>

							<section class="cadre p-2 my-3">
								<a href="https://ot-sommieres.com/marches">Marché de Sommières</a>- 15 min en voiture / 14 km
								<br/>
								<a href="https://ot-sommieres.com/annuaire/miellerie-de-clairan">Miellerie de Clairan</a>- 7 min en voiture / 6 km
								<br/>
								<a href="https://www.la-gravette.com/">Domaine de la Gravette de Corconne</a>- 17 min en voiture / 18 km
								<br/>
								<a href="https://la-fromagerie-des-loubes.eatbu.com/?lang=fr">Fromagerie des Loubes à Montignargues</a>- 17 min en voiture / 17 km
								<br/>
								<a href="https://lanimoise.fr/">La Brandade du Petit Nîmois à Nîmes</a>- 23 min en voiture / 23 km
								<br/>
								<a href="https://www.herault-tourisme.com/fr/decouvrir/nos-incontournables/etang-de-thau/">Etang de Thau</a>- 1h10 en voiture / 86 km
								<br/>
							</section>
						</div>
					</div>
				</div>

				{#                {/*---------------carte---------------*/}#}
				<div class=" .col-6 col-md-5">
					<div class="cadre p-2 mb-2">
						<h3>Carte des Activités</h3>
						<div>
							<!-- Button trigger modal -->
							<div class="d-flex justify-content-end my-2">
								<button type="button" class="btn-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
									Agrandir la carte
								</button>
							</div>
							<img src="{{ asset('img/tourismePage/carte.jpg') }}" alt="carte" class="img-fluid" style="width: 100vw; border-radius: 0.5em "/>
						</div>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Carte des activités</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<img src="{{ asset('img/tourismePage/carte.jpg') }}" alt="carte" class="img-fluid" style="width: 100%; border-radius: 0.5em "/>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>
						<!-- FIN Modal -->
					</div>
				</div>

				{#                {/*---------------fin---------------*/}#}
			</div>
		</div>
	</main>
{% endblock %}
