.backgroundImageContainer {
  position: relative;
  width: 100%;
}

.backgroundImage {
  width: 100vw;
  height: 45vw;
}

.buttonContainer {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 1;
}