//le bouton en savoir plus // 
.btn-enSavoirPlus {
  background-color: #413934;
  color: #fbefe2;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  margin: 1em;
  border: 1px solid transparent;
}

.btn-enSavoirPlus:hover {
  background-color: #fbefe2;
  color: #413934;
  border: 1px solid #413934;
  transform: scale(1.2);
}


//le bouton ajouter un commentaire
.center-button-container {
  display: flex;
  justify-content: center; /* Centre le bouton horizontalement */
  align-items: center; /* Centre le bouton verticalement */
  width: 100%; /* Prend toute la largeur */
}
.butAddReview{
  background-color: #413934;
  color: #fbefe2;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-flex; /* Pour que le bouton ajuste sa taille au texte */
  justify-content: center;
  align-items: center; /* Centrer verticalement le texte */
}
.butAddReview:hover {
  background-color: #fbefe2;
  color: #413934;
  border: 1px solid #413934;
}

// bouton  prereserv
.buttonPreresev-form {
  background-color: rgba(246, 237, 231, 0.7);
  padding: 1em;
  border-radius: 0.2em;
}
.btn-form {
  background-color: white;
  padding: 0.5em;
  border: 1px solid #bfb3a3;
  border-radius: 0.4em;
  color: #bfb3a3;
}

.btn-form:hover {
  background-color: #ddd0bf;
  color: #413934;
}

// bouton remonter home
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(65, 57, 52, 0.5);
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 16px;
    display: none; /* Initialement caché */
    transition: background-color 0.3s ease;
    z-index:9999;
}

.scroll-to-top:hover {
    background-color: rgba(71, 44, 27, 0.8);
    transform: scale(0.9);
    transition: ease-out 0.6;
    color: #413934;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid white; /* La flèche vers le haut */
}

