.carousel {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 0;

  .carousel-inner {
    background-color: black;
  }

  .carousel-item {
    height: auto;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .carousel-item.active {
    transition: transform 2.6s ease-in-out;
  }
}
