// calendrier
.calendar {
  width: 100%;
  height: auto;
  padding: 2em;
  // background-color: yellow;
}

.calendarContainer {
  border: 1px solid #ccc;
  border-radius: 0.4em;
  padding: 10px; /* Optionnel : ajoute un peu d'espacement à l'intérieur du cadre */
}
  // bouton reinitialiser le calendrier
.but-reset {
  background-color: #ddd0bf;
  padding: 0.5em;
  border: 1px solid #bfb3a3;
  border-radius: 0.4em;
  color: #413934;
}
.but-reset:hover {
  background-color: white;
  color: #413934;
}

//  checkbox HT
.checkboxHt {
  margin-left: 1em;
  margin-right: 1em;
}
// Les prix comprennent 
.comprend p {
  color: #413934;
  font-size: 0.8em;
}

// container 
.bla {
  border: 1px solid #bfb3a3;
  border-radius: 0.4em;
  padding: 0.2em;
  width: 100%;
}

// label
label {
  margin-left: 0.5em;
}

// ??
.center {
  display: flex;
  //justify-content: center;
  //align-items: center;
  height: 100%;
}

// bouton en savoir plus
.btn-plus {
  background-color: #413934;
  color: #fbefe2;
  text-decoration: none;
  border-radius: 0.2em;
  padding-inline: 0.6em;
  margin-inline: 0.5em;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
}

.btn-plus:hover {
  background-color: #fbefe2;
  color: #413934;
  border: 1px solid #413934;
}

.btn-reduit {
  font-size: 0.7em;
}

