html, body {
    overflow-x: hidden; /* Empêche le débordement horizontal */
    margin: 0;
    padding: 0;
    width: 100%;
}
//  titre 
h2 {
  color:#413934 !important;
  display: flex;
  justify-content: center;
}
h3{
  color: #fbefe2 !important;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
// separator apres le titre
.separator {
  height: 2px;
  background-color: #413934;
  width: 30em;
}
// couleur police 
p {
  color: #413934;
  margin-inline: 2em;
}

// cadre sur page ??
.cadres p {
  border: 1px solid #bfb3a3;
  border-radius: 0.4em;
  padding-left: 0.5em;
  font-weight: bold;
  color: #413934;
}

