{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <h1>404 - Page introuvable</h1>
    <p>La page que vous cherchez n'existe pas. Retournez à <a href="{{ path('accueil') }}">l'accueil</a>.</p>
{% endblock %}
